<!DOCTYPE html>
<html>
  <head>
    <title>Certificate Generator</title>
    <link href="output.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script>
      function handleSubmit(event, certificateId, title, ownerName, categoryCertificate, date, nip, tempatLahir, jabatan, pangkat, instansi, unitKerja, kualifikasi, penandatangan, keterangan, expiredDate, tanggalLahir, judulAktualisasi, lokasi, angkatan) {
        event.preventDefault();
        fetch('/uploadcertificate', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            certificateId: certificateId,
            title: title,
            ownerName: ownerName,
            categoryCertificate: categoryCertificate,
            date: date,
            nip: nip,
            tempatLahir: tempatLahir,
            jabatan: jabatan,
            pangkat: pangkat,
            instansi: instansi,
            unitKerja: unitKerja,
            kualifikasi: kualifikasi,
            penandatangan: penandatangan,
            keterangan: keterangan,
            expiredDate: expiredDate,
            tanggalLahir: tanggalLahir,
            judulAktualisasi: judulAktualisasi,
            lokasi: lokasi,
            angkatan: angkatan,
          })
        })
        .then(response => response.json())
        .then(data => {
          if (data.success) {
            alert('Certificate integrated successfully!');
            location.reload();
          } else {
            alert('Failed to integrate certificate.');
          }
        })
        .catch(error => {
          console.error('Error:', error);
          alert('An error occurred while integrating the certificate.');
        });

      }

      function handleSubmitDirect(event, certificateId, title, ownerName, categoryCertificate, date, nip, tempatLahir, jabatan, pangkat, instansi, unitKerja, kualifikasi, penandatangan, keterangan, expiredDate, tanggalLahir, judulAktualisasi, lokasi, angkatan) {
        event.preventDefault();
        fetch('/uploadcertificate-direct', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            certificateId: certificateId,
            title: title,
            ownerName: ownerName,
            categoryCertificate: categoryCertificate,
            date: date,
            nip: nip,
            tempatLahir: tempatLahir,
            jabatan: jabatan,
            pangkat: pangkat,
            instansi: instansi,
            unitKerja: unitKerja,
            kualifikasi: kualifikasi,
            penandatangan: penandatangan,
            keterangan: keterangan,
            expiredDate: expiredDate,
            tanggalLahir: tanggalLahir,
            judulAktualisasi: judulAktualisasi,
            lokasi: lokasi,
            angkatan: angkatan,
          })
        })
        .then(response => response.json())
        .then(data => {
          if (data.success) {
            alert('Certificate integrated successfully!');
            location.reload();
          } else {
            alert('Failed to integrate certificate.');
          }
        })
        .catch(error => {
          console.error('Error:', error);
          alert('An error occurred while integrating the certificate.');
        });

      }
    </script>
  </head>
  <body
    class="mx-auto p-4 bg-slate-100 h-screen overflow-auto"
  >
    <h1 class="text-3xl font-bold text-center mb-8">
      Dumies halaman sertificate
    </h1>

    <table class="min-w-full bg-white">
      <thead>
        <tr>
          <th class="py-2">ID</th>
          <th class="py-2">title</th>
          <th class="py-2">ownerName</th>
          <th class="py-2">categoryCertificate</th>
          <th class="py-2">date</th>
          <th class="py-2">nip</th>
          <th class="py-2">tempatLahir</th>
          <th class="py-2">jabatan</th>
          <th class="py-2">pangkat</th>
          <th class="py-2">instansi</th>
          <th class="py-2">unitKerja</th>
          <th class="py-2">kualifikasi</th>
          <th class="py-2">penandatangan</th>
          <th class="py-2">keterangan</th>
          <th class="py-2">expiredDate</th>
          <th class="py-2">tanggalLahir</th>
          <th class="py-2">judulAktualisasi</th>
          <th class="py-2">lokasi</th>
          <th class="py-2">angkatan</th>

        </tr>
      </thead>
      <tbody>
        <% certificates.forEach(certificate => { %>
          <tr>
            <td class="border px-4 py-2"><%= certificate.certificateId %></td>
            <td class="border px-4 py-2"><%= certificate.title %></td>
            <td class="border px-4 py-2"><%= certificate.ownerName %></td></td>
            <td class="border px-4 py-2"><%= certificate.categoryCertificate %></td></td>
            <td class="border px-4 py-2"><%= certificate.date %></td></td>
            <td class="border px-4 py-2"><%= certificate.nip %></td></td>
            <td class="border px-4 py-2"><%= certificate.tempatLahir %></td></td>
            <td class="border px-4 py-2"><%= certificate.jabatan %></td></td>
            <td class="border px-4 py-2"><%= certificate.pangkat %></td></td>
            <td class="border px-4 py-2"><%= certificate.instansi %></td></td>
            <td class="border px-4 py-2"><%= certificate.unitKerja %></td></td>
            <td class="border px-4 py-2"><%= certificate.kualifikasi %></td></td>
            <td class="border px-4 py-2"><%= certificate.penandatangan %></td></td>
            <td class="border px-4 py-2"><%= certificate.keterangan %></td></td>
            <td class="border px-4 py-2"><%= certificate.expiredDate %></td></td>
            <td class="border px-4 py-2"><%= certificate.tanggalLahir %></td></td>
            <td class="border px-4 py-2"><%= certificate.judulAktualisasi %></td></td>
            <td class="border px-4 py-2"><%= certificate.lokasi %></td></td>
            <td class="border px-4 py-2"><%= certificate.angkatan %></td></td>

            <td class="border px-4 py-2">
              <a href="outputpdf/<%= certificate.certificateId %>.pdf" target="_blank" class="bg-blue-500 text-white px-4 py-2 rounded">View</a>
            </td>
            <td class="border px-4 py-2">
              <% certificate.isIntegrated %>

              <% if (certificate.isIntegrated) { %>
                Sudah diintegrasikan
              <% } else { %>
                <button class="bg-yellow-500 text-white px-4 py-2 rounded" id="integrate" onclick="handleSubmit(event,'<%= certificate.certificateId %>', '<%= certificate.title %>', '<%= certificate.ownerName %>','<%= certificate.categoryCertificate %>','<%= certificate.date %>','<%= certificate.nip %>','<%= certificate.tempatLahir %>','<%= certificate.jabatan %>','<%= certificate.pangkat %>','<%= certificate.instansi %>','<%= certificate.unitKerja %>','<%= certificate.kualifikasi %>','<%= certificate.penandatangan %>','<%= certificate.keterangan %>','<%= certificate.expiredDate %>','<%= certificate.tanggalLahir %>','<%= certificate.judulAktualisasi %>','<%= certificate.lokasi %>','<%= certificate.angkatan %>')">Integrate</button>
              <% } %>

            </td>
            <td class="border px-4 py-2">
              <% certificate.isIntegrated %>

              <% if (certificate.isIntegrated) { %>
                Sudah diintegrasikan
              <% } else { %>
                <button class="bg-yellow-500 text-white px-4 py-2 rounded" id="integrate" onclick="handleSubmitDirect(event,'<%= certificate.certificateId %>', '<%= certificate.title %>', '<%= certificate.ownerName %>','<%= certificate.categoryCertificate %>','<%= certificate.date %>','<%= certificate.nip %>','<%= certificate.tempatLahir %>','<%= certificate.jabatan %>','<%= certificate.pangkat %>','<%= certificate.instansi %>','<%= certificate.unitKerja %>','<%= certificate.kualifikasi %>','<%= certificate.penandatangan %>','<%= certificate.keterangan %>','<%= certificate.expiredDate %>','<%= certificate.tanggalLahir %>','<%= certificate.judulAktualisasi %>','<%= certificate.lokasi %>','<%= certificate.angkatan %>')">Integrate Direct</button>
              <% } %>

            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>

  </body>
</html>
